* {
	box-sizing: border-box;
}

body {
	display: grid;
	background-color: #1c222b;
	align-items: center;
	height: 100vh;
	justify-content: center;
	font-family: monospace;
}

.title {
	color: #19bc8b;
	font-size: 10vw;
	text-align: center;
}
.prng {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.prng:hover {
	color: #e9bc8b;
	font-size: larger;
}

.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -150px;
}

a {
	color: #e9bc8b;
	text-decoration: none;
	text-transform: uppercase;
	margin: 8px;
	width: 80vw;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 2px solid #19bc8b;
	transition: 0.25s;
	box-shadow: -0.3em -0.3em #e9bc8b;
	font-weight: bold;
	font-size: 15px;
}

a:hover {
	color: #1c222b;
	box-shadow: 0 0 0 0 #e9bc8b, inset 6em 3.5em 0 0 #e9bc8b;
	border-color: #e9bc8b;
}

@media (min-width: 900px) {
	.title {
		color: #19bc8b;
		font-size: 50px;
		align-items: center;
	}

	a {
		width: 200px;
	}
}
