* {
	box-sizing: border-box;
}

body {
	display: grid;
	background-color: #1c222b;
	align-items: center;
	height: 100vh;
	justify-content: center;
	font-family: monospace;
}

.title {
	color: #19bc8b;
	font-size: 50px;
}
.prng {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.prng:hover {
	color: #1973bc;
	font-size: larger;
}

.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -150px;
}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin: 8px;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 2px solid #19bc8b;
	transition: 0.25s;
	box-shadow: 0.3em 0.3em 0 0 #19bc8b, inset 0.3em 0.3em 0 0 #19bc8b;
	font-weight: bold;
	font-size: 15px;
}

a:hover {
	box-shadow: 0 0 0 0 #1973bc, inset 6em 3.5em 0 0 #1973bc;
	border-color: #1973bc;
}
