* {
	box-sizing: border-box;
}

body {
	display: grid;
	background-color: #1c222b;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

.title {
	color: #19bc8b;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-size: 40px;
	text-decoration: none;
	margin: 70px auto 10px;
}

.title:hover {
	color: #e9bc8b;
	font-size: 45px;
}

.button-home {
	position: absolute;
	top: 25px;
	left: 20px;
}

.container {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80vw;
	margin: auto;
}

.suggestion {
	color: rgba(255, 255, 255, 0.623);
	font-size: 20px;
	margin: 5px;
	text-align: center;
	width: 80vw;
	justify-self: center;
}

.bold-suggestion {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.829);
}

input {
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	margin: 2px;
}

button,
.button-home {
	color: #e9bc8b;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	margin: 8px;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 2px solid #19bc8b;
	transition: 0.25s;
	box-shadow: -0.3em -0.3em #e9bc8b;
	font-weight: bold;
	font-size: 13px;
}

button:hover,
.button-home:hover {
	color: #1c222b;
	box-shadow: 0 0 0 0 #e9bc8b, inset 6em 3.5em 0 0 #e9bc8b;
	border-color: #e9bc8b;
}

.button-home {
	margin: auto;
}

canvas {
	margin: 20px auto;
}

@media (min-width: 900px) {
	.title {
		margin: auto;
	}
}
